<%
    var cssClass = "style" + (index % 12 + 1);
%>

<article class="<%- cssClass %>">
    <span class="image">
        <img src="<%- item.cover_index || theme.default_cover_index %>" alt="" />
    </span>
    <span class="linkWrap">
        <h2><%- item.title || theme.default_post_title || "Untitled" %></h2>
        <div class="content">
            <p><%- item.subtitle || "" %></p>
            <% if(item.link) { %>
                <a class="link" href="<%- item.link %>" target="_blank">Website</a>
            <% } %>
            <a class="link" href="<%- config.root %><%- item.path %>">Detail</a>
        </div>
    </span>
</article>